body {
	padding: 0;
	max-width: 800px;
	margin: 0 auto;
	color: #303133;
}

.jj {
	margin: 0 20px;
}

.t1 {
	position: relative;
	height: 60px;
	margin-top: 20px;
}

.t1,
.t2 {
	display: flex;
	align-items: center;
}

.t1:first-of-type {
	margin-top: 0;
}

.t1 h1 {
	margin: 0;
	flex: 1;
	color: #303133;
}

.t2 {
	min-height: 30px;
	margin-top: 10px;
}

.t2.c {
	min-height: 50px;
}

.t2>.t {
	font-size: 16px;
	line-height: 24px;
	color: #303133;
	flex: 1;
}

.t2>input {
	width: 44px;
}

.dc {
	height: 44px;
	line-height: 44px;
	border-radius: 4px;
	padding: 0 12px;
	color: #303133;
	font-size: 16px;
	background: #ebeef5;
	border: 1px solid #e4e7ed;
}

.dc.pt1 {
	margin-top: 20px;
}

.rbtn {
	margin-left: 10px;
	min-width: 78px;
}

.dc:hover:not([disabled]) {
	background: #e4e7ed;
	border-color: #ccc;
	text-decoration: none;
}

button[disabled] {
	color: #909399;
}

.rl {
	overflow: hidden;
	text-decoration: none;
	cursor: pointer;
	display: block;
}

input[type=file] {
	position: absolute;
	width: 0;
	opacity: 0;
	display: inline-block;
	filter: alpha(opacity=0);
}

.item {
	position: relative;
	display: flex;
	min-height: 30px;
	margin: 10px 20px 0 20px;
}

.item.v {
	flex-direction: column;
}

.item>div {
	font-size: 14px;
	color: #303133;
	line-height: 30px;
}

.item>select,
.item>input {
	flex: 1;
}

.item .info {
	font-size: 14px;
	color: #606266;
	line-height: 22px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

td,
#state {
	font-size: 14px;
	color: #303133;
	line-height: 28px;
}

thead td {
	font-weight: bold;
}

tr td:first-letter {
	padding-left: 20px;
}

tr td:last-child {
	padding-left: 20px;
}

table .drak {
	background-color: #ebeef5;
}

#state {
	margin: 20px;
	display: none;
}
