body {
	padding: 0;
	margin: 0;
}

header {
	height: 60px;
}

header h1 {
	margin: 0 20px 0 20px;
	line-height: 60px;
	color: #303133;
}

.a-upload {
	position: absolute;
	top: 8px;
	right: 20px;
	padding: 0 12px;
	margin: 0;
	height: 44px;
	line-height: 44px;
	cursor: pointer;
	color: #303133;
	background: #ebeef5;
	border: 1px solid #e4e7ed;
	border-radius: 4px;
	overflow: hidden;
	display: inline-block;
	text-decoration: none;
}

.a-upload:hover {
	background: #e4e7ed;
	border-color: #ccc;
	text-decoration: none;
}

.a-upload input {
	position: absolute;
	font-size: 100px;
	right: 0;
	top: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer
}

.state-div {
	height: 30px;
	margin-top: 10px;
	padding: 0 20px;
}

.state-div>div {
	font-size: 13px;
	color: #303133;
	line-height: 30px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

td,
#state {
	font-size: 14px;
	color: #303133;
	line-height: 28px;
}

thead td {
	font-weight: bold;
}

tr td:first-letter {
	padding-left: 20px;
}

tr td:last-child {
	padding-left: 20px;
}

table .drak {
	background-color: #ebeef5;
}

#state {
	margin: 20px;
	display: none;
}
