body {
	padding: 0;
	margin: 0;
	color: #303133;
}

.header {
	position: relative;
	height: 60px;
	margin-top: 20px;
}

.header:first-of-type {
	margin-top: 0;
}

.header h1 {
	margin: 0 20px 0 20px;
	line-height: 60px;
}

.dc {
	height: 44px;
	line-height: 44px;
	border-radius: 4px;
	padding: 0 12px;
	color: #303133;
	font-size: 16px;
	background: #ebeef5;
	border: 1px solid #e4e7ed;
}

.rbtn {
	position: absolute;
	top: 8px;
	right: 20px;
	padding: 0 12px;
	margin: 0;
	cursor: pointer;
	overflow: hidden;
	display: inline-block;
	text-decoration: none;
}

.rbtn:hover {
	background: #e4e7ed;
	border-color: #ccc;
	text-decoration: none;
}

.rbtn input {
	position: absolute;
	font-size: 100px;
	right: 0;
	top: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer
}

.item {
	position: relative;
	display: flex;
	min-height: 30px;
	margin: 10px 20px 0 20px;
}

.item>div {
	font-size: 14px;
	color: #303133;
	line-height: 30px;
}

.item>select,
.item>input {
	flex: 1;
}

table {
	width: 100%;
	border-collapse: collapse;
}

td,
#state {
	font-size: 14px;
	color: #303133;
	line-height: 28px;
}

thead td {
	font-weight: bold;
}

tr td:first-letter {
	padding-left: 20px;
}

tr td:last-child {
	padding-left: 20px;
}

table .drak {
	background-color: #ebeef5;
}

#state {
	margin: 20px;
	display: none;
}
